<div class="section section-we-do-1">
  <div class="text-area">
    <div class="container">
      <div class="row">
        <div class="title add-animation">
          <h5 class="text-gray">Here are our</h5>
          <h2>Core Values</h2>
          <div class="separator-container">
            <div class="separator line-separator">∎</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="card add-animation animation-1">
            <h5 class="text-gray">01.</h5>
            <h3>Quality</h3>
            <p>We set exacting standards and strive for consistency and precision in everything we do. We are
              committed to continuously improving our capabilities.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card add-animation animation-2">
            <h5 class="text-gray">02.</h5>
            <h3>Integrity</h3>
            <p>We take individual and collapp-loadingective responsibility for keeping our promises, acting ethically and
              demonstrating exemplary business conduct at all times because it is the right thing to do.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card add-animation animation-3">
            <h5 class="text-gray">03.</h5>
            <h3>Attention to details</h3>
            <p>We are dedicated to making every details look amazing. You can count on the fact that no thing slides
              and everything will look just right. </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card add-animation animation-4">
            <h5 class="text-gray">04.</h5>
            <h3>Safety</h3>
            <p>We are committed to creating and maintaining a safe surrounding to what will be your home. We take
              into consideration every need and make sure every person will feel protected.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

