<div class="section section-we-made-1 section-with-hover" id="speakers">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="project add-animation animation-1">
        <img src="assets/img/rubik_background2.jpg" />
        <a class="over-area color-1" href="javascript:void(0)" onClick="rubik.showModal(this)" data-target="project_1">
          <div class="content">
            <h4>Speaker 1</h4>
            <p>Click for more... </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="project add-animation animation-2">
        <img src="assets/img/rubik_background2.jpg" />
        <a class="over-area color-1" href="javascript:void(0)" onClick="rubik.showModal(this)" data-target="project_2">
          <div class="content">
            <h4>Speaker 2</h4>
            <p>Click for more... </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="project add-animation animation-3">
        <img src="assets/img/rubik_background2.jpg" />
        <a class="over-area color-1" href="javascript:void(0)" onClick="rubik.showModal(this)" data-target="project_3">
          <div class="content">
            <h4>Speaker 3</h4>
            <p>Click for more... </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="project add-animation animation-1">
        <img src="assets/img/rubik_background2.jpg">
        <a class="over-area color-1" href="javascript:void(0)" onClick="rubik.showModal(this)" data-target="project_4">
          <div class="content">
            <h4>Speaker 4</h4>
            <p>Click for more... </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="project add-animation animation-2">
        <img src="assets/img/rubik_background2.jpg">
        <a class="over-area color-1" href="javascript:void(0)" onClick="rubik.showModal(this)" data-target="project_5">
          <div class="content">
            <h4>Speaker 5</h4>
            <p>Click for more... </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="project add-animation animation-3">
        <img src="assets/img/rubik_background2.jpg">
        <a class="over-area color-1" href="javascript:void(0)" onClick="rubik.showModal(this)" data-target="project_6">
          <div class="content">
            <h4>Speaker 6</h4>
            <p>Click for more... </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
