<!-- hack to fix padding-->
<div class="section section-we-do-1" id="blog">
  <div class="text-area">
  </div>
</div>

<div class="section section-buy pattern-image" id="register">
  <div class="full-background">
    <div class="container">
      <div class="content">
        <div class="title">
          <h2>Pricing</h2>
          <div class="separator-container">
            <div class="separator line-separator">$</div>
          </div>
          <p>There are two categories of participants for the convention 2019.</p>
        </div>
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="card card-price">
              <div class="content-inside">
                <h3>Individual</h3>
                <p>Register as an individual participant</p>
                <ul>
                  <li>Keynotes</li>
                  <li>All talks & presntations</li>
                  <li>Workshops</li>
                  <li>Breakfast & Lunch</li>
                </ul>
                <br>

                <h1><small>FCFA </small><span>10k</span></h1>
                <div class="footer">
                  <a href="#" class="btn btn-default">Register Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card card-price">
              <div class="content-inside">
                <h3>Business</h3>
                <p>Register to showcase your business.</p>
                <ul>
                  <li>Pitching session</li>
                  <li>Promotion stand</li>
                  <li>Sponsorship logo on website</li>
                  <li>Ad in newsletter</li>
                </ul>
                <br>

                <h1><small>FCFA </small><span>20k</span></h1>
                <div class="footer">
                  <a href="#" class="btn btn-default">Register Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>