<div class="section section-header">
    <div class="full-image pattern-image">
      <img src="assets/img/rubik_background.jpg" />

      <div class="container">
        <div class="content content-with-opacity">
          <p>Theme:<p>
              <h1 class="title-font">PENETRATING WORLD SYSTEMS</h1>
              <div class="separator-container">
                <div class="separator line-separator">∎</div>
              </div>
              <h5>May 11th & 12th | Yaounde</h5>
        </div>
      </div>
    </div>
    <a href="" data-scroll="true" data-id="#about" class="scroll-arrow hidden-xs hidden-sm">
        <i class="fa fa-angle-down"></i>
    </a>
  </div>
