<div class="section section-we-do-1">
  <div class="text-area">
    <div class="container">
      <div class="row">
        <div class="title add-animation">
          <h5 class="text-gray">View our</h5>
          <h2>Past editions</h2>
          <div class="separator-container">
            <div class="separator line-separator">∎</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="card add-animation animation-1">
            <h5 class="text-gray">1st Edition</h5>
            <h3>Convention 2017</h3>
            <p class="justify-text">We set exacting standards and strive for consistency and precision in everything we do. We are
              committed to continuously improving our capabilities.</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="card add-animation animation-2">
            <h5 class="text-gray">2nd Edition</h5>
            <h3>Convention 2018</h3>
            <p class="justify-text">We take individual and collapp-loadingective responsibility for keeping our promises, acting ethically and
              demonstrating exemplary business conduct at all times because it is the right thing to do.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

