<div class="section section-clients-1" id="sponsors">
  <div class="container">
    <div class="text-area">
      <div class="title add-animation-stopped">
        <h5 class="text-gray">Some of our</h5>
        <h2>Sponsors</h2>
        <div class="separator-container">
          <div class="separator line-separator">✻</div>
        </div>
        <p>Here can be a small description about your working process with your clients.</p>
      </div>
    </div>
    <div class="list-logos">
      <div class="row">
        <div class="col-md-3">
          <div class="logo add-animation-stopped animation-1">
            <a href="#">
              <img alt="..." src="assets/img/clients/forbes.svg" />
              <img alt="..." src="assets/img/clients/forbes_h.svg" />
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="logo add-animation-stopped animation-2">
            <a href="#">
              <img alt="..." src="assets/img/clients/intel.svg" />
              <img alt="..." src="assets/img/clients/intel_h.svg" />
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="logo add-animation-stopped animation-3">
            <a href="#">
              <img alt="..." src="assets/img/clients/apple.svg" />
              <img alt="..." src="assets/img/clients/apple_h.svg" />
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="logo add-animation-stopped animation-1">
            <a href="#">
              <img alt="..." src="assets/img/clients/vaio.svg" />
              <img alt="..." src="assets/img/clients/vaio_h.svg" />
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="logo add-animation-stopped animation-2">
            <a href="#">
              <img alt="..." src="assets/img/clients/hp.svg" />
              <img alt="..." src="assets/img/clients/hp_h.svg" />
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="logo add-animation-stopped animation-3">
            <a href="#">
              <img alt="..." src="assets/img/clients/samsung.svg" />
              <img alt="..." src="assets/img/clients/samsung_h.svg" />
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="logo add-animation-stopped animation-1">
            <a href="#">
              <img alt="..." src="assets/img/clients/canon.svg" />
              <img alt="..." src="assets/img/clients/canon_h.svg" />
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="logo add-animation-stopped animation-2">
            <a href="#">
              <img alt="..." src="assets/img/clients/siemens.svg" />
              <img alt="..." src="assets/img/clients/siemens_h.svg" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
