<div class="section section-buy pattern-image" id="register">
  <div class="full-background">
    <div class="container">
      <div class="content">
        <div class="title">
          <h2>Buy Now</h2>
          <div class="separator-container">
            <div class="separator line-separator">$</div>
          </div>
          <p>Each package comes with Rubik Builder&trade;, Responsive Design, New Icons Font, Documentation, Premium
            Support and Free Forever Updates.</p>

        </div>
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="card card-price">
              <div class="content-inside">
                <h3>Personal</h3>
                <p>Create a Single website for you or for a client.</p>
                <br>

                <h1><small>$</small><span>19</span></h1>
                <div class="footer">
                  <a href="#" class="btn btn-default btn-fill">Buy
                    now!</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card card-price">
              <div class="content-inside">
                <h3>Developer</h3>
                <p>Create Multiple Websites for you or for clients.</p>
                <br>

                <h1><small>$</small><span>79</span></h1>
                <div class="footer">
                  <a href="#" class="btn btn-default">Buy
                    now!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

